.account {
  width: 100%;

  display: flex;
  align-items: center;
  gap: 0.85rem;

  margin-top: auto;

  @media (max-width: 1430px) {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    .name {
      font-size: 0.875rem;
      font-weight: 500;
      color: #fff;
    }

    .email {
      font-size: 0.775rem;
      font-weight: 400;
      color: #ffffff9f;
    }
  }

  .logout {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    padding: 0.35rem;
    margin-left: auto;

    cursor: pointer;

    background: rgb(71, 19, 19);
    border-radius: 0.535rem;

    font-size: 0.875rem;
    font-weight: 500;
    color: #ff4747;

    @media (max-width: 585px) {
      cursor: default;
    }

    &:hover {
      background: rgb(104, 30, 30);
    }

    &:active {
      background: rgb(143, 41, 41);
    }

    .icon {
      font-size: 1.35rem;
    }
  }
}
