.page_wrapper {
  width: 100%;
  min-height: 100vh;
  max-width: 800px;

  margin: 0 auto;
  padding: 0.85rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.25rem;

  .link {
    position: absolute;
    left: 30px;
    top: 30px;

    padding: 0.55rem 0.35rem;

    display: flex;
    align-items: center;
    gap: 0.15rem;

    border: 1px solid transparent;
    border-radius: 0.875rem;

    font-size: 1rem;
    font-weight: 500;
    color: #fff;

    transition: 0.25s;

    &:hover {
      border-color: #ffffff0a;
      background: #ffffff0a;
    }
  }

  .title {
    margin-right: auto;

    font-size: 2rem;
    font-weight: 500;

    @media (max-width: 785px) {
      margin-left: auto;
    }
  }

  .button {
    padding: 0.85rem;

    cursor: pointer;

    background: #0073ff;
    border-radius: 0.875rem;
    border: 0;

    font-size: 1rem;
    font-weight: 400;
    color: #fff;

    transition: 0.25s;

    &:hover {
      background: #2185ff;
    }

    &:active {
      background: #2177df;
    }

    &.load {
      cursor: not-allowed;

      background: #a8cfff;
    }

    &.stop {
      background: rgb(255, 35, 35);

      &:hover {
        background: rgb(255, 40, 40);
      }

      &:active {
        background: rgb(240, 38, 38);
      }

      &.small {
        padding: 0.55rem;

        max-width: 125px;

        border-radius: 0.575rem;

        font-size: 0.875rem;
        font-weight: 500;
      }
    }

    &.copy,
    &.play {
      padding: 0.55rem;

      max-width: 125px;

      background: #fff;
      border-radius: 0.575rem;

      color: #1c1e21;
      font-size: 0.875rem;
      font-weight: 500;

      &:hover {
        background: #f4f5f6;
      }

      &:active {
        background: #e3e4e6;
      }
    }

    &.play {
      background: #0073ff;

      color: #fff;

      &:hover {
        background: #2185ff;
      }

      &:active {
        background: #2177df;
      }
    }
  }

  .content {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .label {
      font-size: 1rem;
      font-weight: 400;
      color: #ffffff96;
    }

    .transcript,
    .ai_reply {
      padding: 0.85rem;

      background: #1c1e21;
      border-radius: 0.875rem;
      border: 0.8px solid #ffffff0a;

      font-family: monospace;
      font-size: 1rem;
      font-weight: 400;
      color: #fff;
    }

    .ai_reply {
      max-width: 100%;
      min-width: 100%;
      max-height: 900px;
      min-height: 80px;

      outline: 0;
    }

    .buttons {
      display: flex;
      align-items: center;
      gap: 0.55rem;
    }
  }

  .chats {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.85rem;

    @media (max-width: 785px) {
      justify-content: center;
    }

    .chat {
      width: 100%;
      max-width: 230px;

      cursor: pointer;

      padding: 1rem 0.85rem;

      display: flex;
      align-items: center;

      background: #1c1e21;
      border-radius: 0.875rem;
      border: 0.8px solid #ffffff0a;

      .title {
        font-size: 1rem;
        font-weight: 500;
        color: #fff;
      }

      .lang {
        font-size: 0.875rem;
        font-weight: 500;
        color: #ffffff52;
      }
    }
  }
}
